.widgetLarge {
    flex: 2;
    box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.46);
    -webkit-box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.46);
    padding: 20px;
    font-size: 16px;
}

.widgetLargeTitle {
    font-size: 22px !important;
    font-weight: 600;
}

.widgetLargeTable {
    width: 100%;
    border-spacing: 0; 
    border-collapse: collapse; 
}

.widgetLargeTh, .widgetLargeTd {
    padding: 15px; 
    border-bottom: 2px solid #ddd; 
    text-align: left;
}

.widgetLargeTh {
    font-weight: bold;
}

.widgetLargeUser {
    display: flex;
    align-items: center;
}

.widgetLargeImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLargeButton {
    padding: 5px 10px; /* Adjust button padding */
    border: none;
    border-radius: 5px; /* Adjust border radius */
    font-weight: 600;
    cursor: pointer; /* Add cursor pointer */
}

.widgetLargeButton.Approved {
    background-color: #e5faf2;
    color: #3bb077;
}

.widgetLargeButton.Declined {
    background-color: #fff0f1;
    color: #d95087;
}

.widgetLargeButton.Pending {
    background-color: #ebf1fe;
    color: #2a7ade;
}
