.sidebar {
    position: sticky;
    height: calc(100vh-50px);
    top: 50px
}

.sidebarListItem {
    border-radius: 10px;
    margin-bottom: 2px;
}
.sidebarListItem.active,
.sidebarListItem:hover 
{
    background-color: rgb(228, 228, 250);
}